<script async type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--<script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>-->
<!--<script type="text/javascript"-->
        <!--src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart'],'language':'ru'}]}">-->
<!--</script>-->
<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<!--<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<!--<script type="text/javascript" src="http://www.google.com/jsapi?fake=.js"></script>-->
<input type="button" id="edit" value="Edit Chart" />
<div id="dashboard">
    <div id="chart_div"></div>
    <div id="control_div"></div>
</div>

<div class="container">
    <h1><%= __('Comment') %>s for SAILS<small>js</small> + REACT<small>js</small></h1>
</div>

<div class="container" id="commentForm"></div>
<div class="container" id="commentList"></div>

<script src="/js/tempMain.js"></script>